@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  padding: 0;
  margin:0;
  background-color: #3a3a3a;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-top: 30px;
}

/* card CSS */
.card {
  height: 520px;
  width: 300px;
  background-color: #666807;
  text-align: center;
  padding:35px;
  color: #fff3b0;
  font-size: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #fff3b0;
}

.card img {
  border-radius: 50%;
  border: 5px solid #fff3b0;

}

.text h1 {
  padding-top: 20px;
  font-size: 25px;
}

.text .title {
  font-size: 16px;
  font-weight: bold;
  color: #fff3b0;
}

.card a {
  color : #fff3b0;
  padding: 20px;
  font-size: 20px;
}
.card a:hover {
  opacity: 0.7;
}
/* End of card Css */
